In [2]:
import pandas as pd

In [15]:
#Carrega o dataset

df_raw = pd.read_csv("State of Data 2021 - Dataset - Pgina1.csv")

/tmp/ipykernel_99528/3390434786.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv("State of Data 2021 - Dataset - Pgina1.csv")

In [41]:
#Linha duplicadas

df_raw["('P0', 'id')"].value_counts()

yrhjxwscdfl516bibgi0kyrhait8fbnf    2
deptbnmlg4p0iuonwodept7eeluh5ov4    2
7lkav4o0fukny1644lc7lkav4o0c5wsb    2
mdeq88ctdx127eztcxmdeq81poeki9ek    2
qkx4q0ei90wcjxnqkx4q0j3xgf0zn13s    1
                                   ..
t198yi4rtuwu507i6ozjy2t198yjf19k    1
t14vk15hwcx2w7t4r9t14vk8rybxsadv    1
t0qlvyy5cd2z8q0liht0ql7d22gisdos    1
t00leqn7a2b3b5l2gsby6pz7nt00leqn    1
037usz1h2yip96dgil4mhj037uszw1gk    1
Name: ('P0', 'id'), Length: 2641, dtype: int64

In [49]:
#De fato são identicas

df_raw.duplicated().value_counts()

False    2641
True        4
dtype: int64

In [51]:
#Dropa as duplicatas

df_raw.drop_duplicates(inplace=True)

In [16]:
#Função que busca as colunas relacionadas à pergunta requerida - disponibilizada no Kaggle
#Alguns ajustes feitos por mim

def obter_columns_por_pergunta(perguntas = [], df=None):
    colunas = []
    for column in df.columns:
        column_formmatado = ''.join(char for char in column if char.isalnum())
        if column_formmatado[:2] in perguntas:
            colunas.append(column)


    return colunas

In [19]:
#Monta-se um df para cada pergunta

df_P1 = df[obter_columns_por_pergunta(['P1'], df_raw)]
df_P2 = df[obter_columns_por_pergunta(['P2'], df_raw)]
df_P3 = df[obter_columns_por_pergunta(['P3'], df_raw)]
df_P4 = df[obter_columns_por_pergunta(['P4'], df_raw)]
df_P5 = df[obter_columns_por_pergunta(['P5'], df_raw)]
df_P6 = df[obter_columns_por_pergunta(['P6'], df_raw)]
df_P7 = df[obter_columns_por_pergunta(['P7'], df_raw)]
df_P8 = df[obter_columns_por_pergunta(['P8'], df_raw)]
df_P9 = df[obter_columns_por_pergunta(['P9'], df_raw)]

----

In [ ]:
#Primeira pergunta

In [20]:
df_P1.head()

,"('P1_a ', 'Idade')","('P1_a_a ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_e ', 'Estado onde mora')","('P1_e_a ', 'uf onde mora')","('P1_e_b ', 'Regiao onde mora')","('P1_g_b ', 'Regiao de origem')","('P1_g_c ', 'Mudou de Estado?')","('P1_h ', 'Nivel de Ensino')","('P1_i ', 'Área de Formação')"
0,38.0,35-39,Masculino,Ceará (CE),CE,Nordeste,NaN,0,Pós-graduação,Química / Física
1,39.0,35-39,Masculino,Bahia (BA),BA,Nordeste,Sudeste,1,Pós-graduação,Economia/ Administração / Contabilidade / Fina...
2,30.0,30-34,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,Computação / Engenharia de Software / Sistemas...
3,38.0,35-39,Feminino,São Paulo (SP),SP,Sudeste,NaN,0,Pós-graduação,Outras
4,36.0,35-39,Masculino,Santa Catarina (SC),SC,Sul,NaN,0,Pós-graduação,Outras Engenharias

In [28]:
df_P1.shape[1] + df_P2.shape[1] + df_P3.shape[1] + df_P4.shape[1] +df_P5.shape[1] + df_P6.shape[1] + df_P7.shape[1] + df_P8.shape[1] + df_P9.shape[1]

355